body{
    background-color: #EAEAEE;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.contenedor-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

 .bg-personalizado{
    width: 100%;
}

.bg-personalizado img{
    width: 100%;
    height: auto;
    display: block;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #375691;
    padding: 30px;
    margin: 20px 0;
    gap: 30px;
    box-sizing: border-box;
    
}

.yo{
    flex:2;
    color:white;
    min-width: 250px;
}

.yo h2{
    justify-content: start;
    margin: 0 20px;
}

.shadow-drop-center{ /* sumar esto */
    width: 300px;
    display: flex;
    flex: 1;
    justify-content: center;
}
.shadow-drop-center img{
    width: 100%;
    max-width: 300px;
    height: auto;
    -webkit-animation: shadow-drop-center 2s linear both;
    animation: shadow-drop-center 2s linear both;
}

@-webkit-keyframes shadow-drop-center { /* sumar esto */
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

h2, h5{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: medium;
  font-style: normal;
  justify-content: left;
  margin: 20px 0px;
 
}

@media (max-width: 768px) {
  .inicio {
    flex-direction: column;
    text-align: justify;
  }

  .yo {
    min-width: 100%;
  }

  .shadow-drop-center img {
    width: 100%;
    max-width: 300px;
  }
}

.carrusel{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #C7E6EE;
    padding: 20px 30px;
}

#carouselExampleAutoplaying {
  max-width: 800px;
  min-width: 200px;
  margin: 20px auto;
  padding: 20px;
}

.carousel-item{
    height: 400px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #375691;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color:white;
    margin: 20px auto;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.contenedor{
    margin: 10px;
    padding:0;
}

.sobreMi{
    display: flex;
    flex-direction: column;
    background-color: #375691;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color:white;
    justify-content: center;
}

.sobreMi h2, p, .programas h2{
    margin: 20px;
}

.text-focus-in{ /* agregar */
    text-align: justify;  
	-webkit-animation: text-focus-in 1s linear 1s both;
	        animation: text-focus-in 1s linear 1s both;
}

@-webkit-keyframes text-focus-in { /* agregar */
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.programas{
    display: flex;
    flex-direction: column;
    background-color: #C7E6EE;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
}

.programas ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.programas li{  
    list-style: none;
    padding: 0px;
    margin: 5px 0px;
}

.programas img{
    width: 40px;
    border-radius: 10px;
    display:block
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.card{
    background-color: #375691;
    color:white;
}

.cards-galeria{
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-text{
    margin: 10px 0;
    text-align: left;
}

.card-body .btn{
    margin-top: auto;
    align-self: start;
    padding: 5px 10px;
    background-color: #C7E6EE;
    border-color: #C7E6EE;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 300;
}

.pag-3d{
    display: flex;
    flex-direction: column;
    background-color: #375691;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    margin: 20px;
    padding: 0 15px;
    color: white;
}

.pag-3d h2{
    margin: 10px;
}

.video{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

#carouselExampleControlsNoTouching{ /* agregar */
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
}

.texto-video{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: small;
    text-align: justify;
    text-justify: inter-word;
}

.texto-video a{
    color:white
}

.texto-video li{
    list-style: none;
}

.texto-video img{
    border-radius: 10px;
    width: 40px;
    margin: 40px 10px;
    justify-content: center;
    align-items: center;
}

.atras{
    justify-content: left;
    margin: 20px;
}

.atras .btn{
    background-color: #C7E6EE;
    color: black;
    border-color:#C7E6EE;
} 

@media (max-width: 768px)
{  /* cambiar esto */
    .pag-3d{
        max-width: 768px;
        width: 100%;
        margin: 20px; 
        padding: 0 10px;
        border-radius: 0;
    }

    .texto-video{
        flex-wrap: wrap; 
        justify-content: center;
    }

     .carousel-item{
        height: 60vp;
     }
}





